

:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
  font-family: "Kaushan Script", cursive;
  background: var(--mainWhite);
  color: var(--mainBlack);
}

/*nav links*/
.navbar-toggler {
  outline: none! important
}

.toggler-icon {
  font-size: 2.5rem;
  color: var(--mainPink);
}

.nav-link {
  color: var(--mainPink);
  transition: all 1s ease-in-out;
  font-size:1.5rem;
}

.nav-link:hover {
  color: var(--mainBlack);
}